<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="cordova-plugin-onfido"
        version="1.1.5">
    <name>Onfido</name>
    <description>Cordova plugin for Onfido</description>
    <license>MIT</license>
    <keywords>onfido,onfido-cordova,onfido-plugin,onfido-cordova-ios,onfido-cordova-android</keywords>
    <repo>https://github.com/rewireltd1/cordova-plugin-onfido.git</repo>

    <js-module name="Onfido" src="www/onfido.js">
        <clobbers target="onfido"/>
        <clobbers target="cordova.plugins.onfido"/>
        <clobbers target="plugin.onfido"/>
    </js-module>

    <edit-config file="app/src/main/AndroidManifest.xml" mode="merge" target="/manifest">
        <manifest xmlns:tools="http://schemas.android.com/tools" />
    </edit-config>

    <edit-config file="app/src/main/AndroidManifest.xml" mode="merge" target="/manifest/application">
        <application tools:replace="android:supportsRtl" android:supportsRtl="true" />
    </edit-config>

    <config-file target="app/src/main/AndroidManifest.xml" parent="/manifest/application">
        <activity
            android:name="com.plugin.onfido.OnfidoActivity"
            android:exported="true"
            android:label="Onfido Activity">
            <intent-filter>
                <action android:name="com.plugin.onfido.OnfidoActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </config-file>
    <platform name="android">
    <edit-config file="app/src/main/AndroidManifest.xml" mode="merge" target="/manifest/application">
        <application tools:replace="android:supportsRtl" xmlns:tools="http://schemas.android.com/tools" android:supportsRtl="true" />
    </edit-config>
    <config-file target="app/src/main/AndroidManifest.xml" parent="/manifest/application">
        <activity
            android:name="com.plugin.onfido.OnfidoActivity"
            android:exported="true"
            android:label="Onfido Activity">
            <intent-filter>
                <action android:name="com.plugin.onfido.OnfidoActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </config-file>
    <source-file src="src/android/OnFidoBridge.java" target-dir="src/com/plugin/onfido"/>
    <source-file src="src/android/OnfidoActivity.java" target-dir="src/com/plugin/onfido"/>
    <framework src="src/android/onfido.gradle" custom="true" type="gradleReference"/>
</platform>
<platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="Onfido">
                <param name="ios-package" value="OnFidoBridge" onload="true"/>
            </feature>
        </config-file>

        <config-file target="*-Info.plist" parent="NSCameraUsageDescription">
            <string>Required for document and facial capture</string>
        </config-file>

        <config-file target="*-Info.plist" parent="NSMicrophoneUsageDescription">
            <string>Required for video capture</string>
        </config-file>

        <header-file src="src/ios/OnFidoBridge.h"/>
        <source-file src="src/ios/OnFidoBridge.m"/>

        <pods-config ios-min-version="9.0" use-frameworks="true"/>
        <podspec name="Onfido" spec="28.0.0" />
    </platform>
</plugin>
